<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Blue Sky Farmer!</title>
    <!-- CSS  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
    <nav class="nav-custom">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Blue Sky Farmer</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/mymatch">My Match</a></li><li><a href="/quiz">Quiz</a></li>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
               <li> <button class="no-button" id="logout">logout</button></li>
                {{else}} 
               <li><a href="/login">login</a>{{/if}}</li>
            </ul>
        </div>
    </nav>
    <div class="section">
        <div class="container">
         {{{body}}}
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
   // var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });
       </script> 
</body>
</html>