 <div class="row">
  <!-- Loop over each item in the array -->
                        {{#each}}
                <div class="col s12 m3">
                    <div class="icon-block">
                        <img src="images/5.png" class="big-avatar">
                        <div class="representation">Grace, 24</div>
                        <div class="match"><a class="btn" href="mymatch.html">Match</a></div>
                    </div>
                </div>
               
{{/each}}
            </div>