 <div class="row">
  <!-- Loop over each item in the array -->
                {{#each users as |user|}}
                <div class="col s12 m3">
                    <div class="icon-block">
                        <img src="images/default.png" class="big-avatar">
                        <div class="representation">{{user.user_name}}, {{user.age}}</div>
                        <div class="match"><a class="btn" href="/mymatch">Match</a></div>
                    </div>
                </div>
               
          {{/each}}
            </div>