 <div class="row">
   <div class="col s12 m3">
    {{>user-detail}}
     </div>
      <div class="col s12 m9 left-align">
      <div class="wrapper">
             <div id="start-screen" class="start center-align">
             <p class="text">Are you wondering who matches you?<br/> Let's find out!</p>
                            <button id="start" class="btn">Start Quiz</button>
                        </div>
                        <div id="questions" class="hide">
                            <h2 id="question-title"></h2>
                            <div id="choices" class="choices"></div>
                        </div>
                        <div id="end-screen" class="hide">
                            <h2>All done!</h2>
                            <button id="submit">Submit</button>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

    <script src="js/questions.js"></script>
    <script src="js/quizLogic.js"></script>