 <div class="row">
   <div class="col s12 m3">
     {{>user-detail}}
     </div>
                <!-- if users have done the quiz -->
                  <div class="col s12 m9">
                    <p class="text">People who matches you:</p>
                    <div class="row">
                        <!-- Loop over each item in the array -->
                        {{#each users as |user|}}
                        <div class="col s12 m3">
                            <div class="icon-block">
                                <img src="images/default.png" class="big-avatar">
                                <div class="representation">{{user.user_name}}, {{user.age}}</div>
                                <div class="match"><a class="btn" href="#">Chat</a></div>
                            </div>
                        </div>
                   {{/each}}
                  </div>
                </div>
 
</div>